body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #FDF1FF;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.5;   
    height: 100%;
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

/* Header */
header {
    background-color: rgb(144, 53, 190);
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #0C0B0C 2px solid;
}

header a {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

header #headerlogo {
    float: left;
    margin-bottom: 20px;
    margin-left: 30px;
}

header nav {
    margin-top: 30px;
 
}

header nav ul {
    display: flex;
    justify-content: flex-end; /* Align items to the end of the container */
    margin: 50px;
}

header nav li {
    margin-left: 20px;
}

header a:hover {
    color:#000000;
}


/* Home */
#main {
    width: 75%; 
    margin: auto; 
    text-align: center; 
    box-sizing: border-box;
    padding: 10px; 
}
    

#main h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#main p{
    font-size: 20px;
}


#pictures {
    margin-top: 10px;
}

#pictures .pics {
    width: 30%;
    float: left;
    text-align: center; 
    margin: 0 1.5%; 
    box-sizing: border-box; 
}

#pictures .pics img {
    width: 100%;
}

/* Footer */
footer {
    width: 100%;
    min-height: 70px; 
    padding: 20px;
    margin-top: 10px;
    background-color: rgb(144, 53, 190); 
    text-align: center;
    border-top: #0C0B0C 2px solid;
}

footer .info {
    display: inline-block;
    padding: 0 100px 0 100px;
    color: #ffffff;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    font-size: 16px;
}

a:hover {
    color: #000000;
}


/* About */
#aboutsection {
    height: 100%;
}

#about {
    text-align: center; 
    width: 60%;
    padding-top: 5%;
    margin: 0 auto;
}

#staff {
    text-align: center;
     margin: 0 auto; 
    padding: 5% 0 5% 0;
}

#stafflist {
    margin: auto;
}


#stafflist td, #stafflist th {
    width: 20%;
    border: 1px solid #ddd;
}

#stafflist tr:nth-child(even){background-color: #f2f2f2;}

#stafflist th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    background-color: #FFDDFF;
    color: #000000;

}

/* Services Link  */
.wrapper {  
    width: 100%;
}

#services{
    text-align: center;
    margin-top: 65px;
}

#imagevet { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.vetandkennel {
    text-decoration: underline;
}

#services a {
    color: black;
}

#services a:hover {
    color:#ffffff;
}

/*  Location */
#mainlocation {
    height: 100%;
    margin: 0 auto;
}

.location {
    margin-top: 5%;
  
}

#map {
    width: 100%; 
    max-width: 600px; 
    height: 200px;
    margin: auto;
}


#mapheading {
    text-align: center;
}

/* Form*/
 * {
    box-sizing: border-box;
}

label {
    padding: 8px 8px 8px 0;
    display: inline-block;
    margin-left: 60%;
}

input[type=text], select, textarea{
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

input[type=submit] {
    background-color: #FB3131;
    color: #ffffff;
    padding: 11px 11px 11px 11px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    margin-left: 25%;
    margin-top: 10px;
}

input[type=submit]:hover {
    background-color: #FFDDFF;
    color: #000000;
}

.box {
    border-radius: 5px;
    padding: 20px;
}

.field1 {
    float: left;
    width: 25%;
    margin-top: 7px;
}

.field2 {
    float: left;
    width: 75%;
    margin-top: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*contact form */

#chead {
    text-align: center;
}

/*  Grooming Form  */

#gservice {
    
    text-align: center;
}


#groom {
     text-align: center;
}

.para {
    margin: 10px;
}

.line {
    text-decoration: underline;
    text-align: center;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
   
    #headerlogo {
        text-align: center; 
        margin-bottom: 20px;
    }

    header nav ul {
        flex-direction: column; 
        align-items: center;
    }

    header nav {
        margin-top: 150px;
    }

    header nav li {
        margin: 5px 0; /* Adjust margin for stacked items */
    }
}


@media (max-width: 650px) {
    .field1, .field2, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    label {
        margin-left: 3px;
    }
   input[type=submit] {
       margin-left: 3px;
       padding: 5px 0;
       margin-top: 15px;
    }
}

/* Styles for devices with a max width of 600px */
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
    .container {
        padding: 10px;
    }
}

/* Styles for tablets */
@media (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }
    .container {
        padding: 20px;
    }
}





